.list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.item {}

.inner {
    display: flex;
    align-items: center;
}

.heading {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 0.7em;
    line-height: 1;
    text-align: right;
}