/* checkbox */

.container {
    position: relative;
    display: block;
    margin-right: 0.5rem;
}

.checkbox {
    position: absolute;
    height: 0;
    width: 0;
    opacity: 0;
}

.checkmark {
    position: relative;
    display: block;
    border: 0.1em solid #000;
    border-radius: 50%;
    width: 1.2em;
    height: 1.2em;
    padding: 0.1em;
    background: transparent;
    background-clip: content-box;
    transition: border-color 100ms ease-in-out, background-color 100ms ease-in-out;
}

/* checked */

.checkbox:checked ~ .checkmark {
    border-color: seagreen;
    background-color: seagreen;
}

.checkbox:checked ~ .checkmark::before {
    opacity: 1;
}

/* focus */

.checkbox:focus-visible ~ .checkmark {
    outline: 2px solid blue;
}

/* disabled */

.checkbox:checked:disabled ~ .checkmark {
    border-color: grey;
    background-color: grey;
}

.checkbox:disabled ~ .checkmark {
    border-color: grey;
}

/*  */

.title {
    composes: resetParagraph from '../../index.css';
    flex: 1;
    line-height: 1.5;
}

.titleCompleted {
    color: #999;
    text-decoration: line-through;
}

.titleInput {
    flex: 1;
    border: none;
    padding: 0;
    color: #264653;
    font: inherit;
    line-height: 1.5;
    outline: none;
}